/* .project {
    margin: 100px;
} */

.project-section {
    display: flex;
    flex-direction: row;
}

.project-title {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    max-width: 50%;
    justify-content: center;
    padding-left: 30px;
}

.project-title > h3 {
    font-size: 2em;
    text-transform: uppercase;
}

.project-title > h4 {
    padding-bottom: 5px;
}

.project-title > h5 {
    font-size: 0.8em;
    color: #aaa;
    text-transform: uppercase;
}

.project-title > ul {
    font-size: 0.8em;
    color: #aaa;
    padding-left: 20px;
}

.project-description {
    display: flex;
    flex-direction: column;
    flex: 2 1;
    padding: 64px;
}

.project-description > p {
    padding-bottom: 10px;
}

.vertical-line {
    border-left: thick solid #A8A8A8;
    opacity: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

#blue-line {
    border-left: thick solid blue;
}