.video-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.video-container > h2 {
    font-size: 1.3em;
    color: #aaa;
    text-transform: uppercase;
}

.company-container {
    column-count: 2;
    column-gap: 300px;
    margin-top: 50px;
    column-rule-style: solid;
    column-rule-width: 3px;
}

.company {
    flex: 50%;
    text-align: center;
    position: relative;
}

.company > h3 {
    color: #aaa;
}

.story-container {
    margin-top: 40px;
}
.story-container > h2 {
    padding-bottom: 20px;
}
.story-container > p {
    padding-bottom: 10px;
    text-align: left;
}

.video-section {
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
}

.video-description {
    padding: 30px 0;
}

.video-description > h1 {
    margin-bottom: 20px;
    background-color: black;
    width: fit-content;
    color: #F9F8EB;
}

#left-title {
    padding-left: 40px;
    padding-right: 10px;
}

#right-title {
    padding-right: 40px;
    padding-left: 10px;
    margin-left: auto;
}

.video-description > p {
    margin-bottom: 10px;
}

#left {
    margin-right: auto;
}

#left-description > p {
    margin-left: 20px;
}

#right-description > p {
    margin-right: 20px;
    text-align: right;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    width: 80%;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#right {
    margin-left: auto;
}

#mgofish { 
    width: 120px;
    padding-top: 5px;
    padding-bottom: 7px;
}

#maizenbrew {
    width: 130px;
}

.story-container > h2 {
    text-align: center;
    font-size: 2rem;
}

@media screen and (max-width: 1200px) {
    .video-container {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 768px) {
    .video-container {
        margin: 0;
    }

    .video-section {
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
    }

    #right {
        flex-direction: column-reverse;
        align-items: flex-end;
    }

    .story-container {
        margin: 0 20px 0 20px;
    }

    .company-container {
        margin: 20px 0 40px 0;
        column-gap: 100px;
    }
}
